@page
@model AboutModel
@{
    ViewData["Title"] = "About the Fortune Teller";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This application exists purely to describe the future to you in irrefutable, 100% accurate truths.</p>
